<html>
	<head>
		<title>E-surian Blog site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">E-Surian blog site</a>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>This is my personal blog <br/>
					It will tell everything about me</h1>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="src/images/uthaya_01.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="MyBiodata.html">Who Am I ?</a></h2>
						</header>
						<p>Hi, I am Uthayasurian Salavamani alias Suria. I am 22 year old Teeenager who lives in Malaysia. </p>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="src/images/uthaya_02.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>What Am I Doing ?</h2>
						</header>
						<p>Currently, i am full time computer science degree student. My major is Computer System and Networking. I am pursuing my course in Universiti Malaysia Pahang.</p>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="src/images/programming_1.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>What I can do ?</h2>
						</header>
						<p>I want to pursue my working career in computer science field. So, here i am familliar with these programming languages. They are C, C++, Java, HTML5, PHP, Javascript. Now, currently i am learning python to enhance my programming skills</p>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image">
					<img src="src/images/resume_.jpg" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Resume</h2>
						</header>
						<p>Here is my resume and if you want to read my resume click this button below. </p>
						<ul class="actions">
							<li><a href="Resume.html" class="button alt">click Here</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image">
					<img src="src/images/projects.jpg" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="Projects.html">Projects</a></h2>
						</header>
						<p>These are my projects which i have done during my leisure time :)</p>
						<ul class="actions">
							<li><a href="PortFolio.html" class="button alt">Browse Projects</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->

		<!-- Scripts -->
			<script src="src/js/jquery.min.js"></script>
			<script src="src/js/jquery.scrolly.min.js"></script>
			<script src="src/js/skel.min.js"></script>
			<script src="src/js/util.js"></script>
			<script src="src/js/main.js"></script>
			<script data-ad-client="ca-pub-7488937914128053" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	</body>
</html>