<html>
	<head>
		<title>E-surian PortFolio site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/style2.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">E-Surian blog site</a>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>This is my PortFolio <br/>
					</h1>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="src/images/Facial_Recognition.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a>Facial Recogniton</a></h2>
						</header>
						<p>Here i have create facial recogniton app for android. If you want experience it. Please click download.</p>
					</div>
					<ul class="actions">
						<li><a href="https://drive.google.com/file/d/1DHLOHTIPA8KEhJT17S_JF0hxr3H4dUIE/view?usp=sharing" class="button alt">Download</a></li>
					</ul>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="src/images/News_Application.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Flutter News Application</h2>
						</header>
						<p>Here I have created a news application for android using flutter. Please download if you want to experience it.</p>
					</div>
					<ul class="actions">
						<li><a href="https://drive.google.com/file/d/1n8jAba5tb1liFOQamALPI-u3IDUPS2fU/view?usp=sharing" class="button alt">Download</a></li>
					</ul>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			<script data-ad-client="ca-pub-7488937914128053" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</body>		
</html>
                       	
