<!DOCTYPE html>
<html>
<head>
<title>Uthayasurian Salavamani - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Uthayasurian Salavamani."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="images/my pictures.png" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Uthayasurian Salavamani</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:uthayasurian98@gmail.com" target="_blank">uthayasurian98@gmail.com</a></li>
				<li>w: <a href="http://www.bloggs.com">www.e-surian.com</a></li>
				<li>m: 01114456623</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am Uthayasurian Salavamani alias Suria. I am 22 year old Teeenager who lives in Malaysia. I have completed my Bachelors Degree in Computer Science. My major was Computer system and Networking.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Part time web developer</h2>
					<p class="subDetails">March 2020 - Present</p>
					<p>I have worked as part time web developer. My web development project was School Attendance system. The framework i used to work for is Laravel and Ionic.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>C++</li>
					<li>C</li>
					<li>Java</li>
					<li>Html</li>
					<li>javascript</li>
					<li>PHP</li>
					<li>C#</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Universiti Malaysia Pahang</h2>
					<p class="subDetails">Qualification</p>
					<p>Bachelor of Computer Science(Honours) majors in Computer System and Networking.</p>
				</article>
				
				<article>
					<h2>Kolej Matrikulasi Johor</h2>
					<p class="subDetails">Qualification</p>
					<p>Matriculation programme in Accounting</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>